html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #f7cff0;
  }

  .header {
    background: rgba(70, 4, 4, 0.8);
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    padding: 8px 16px;
    border-radius: 4px;
  }
  .content {
    background: #fff;
    border: 2px dotted rgb(221, 221, 221);
    flex-grow: 2;
    flex: 0 0 200px;
    padding: 10px;
    overflow-wrap: break-word;
  }
  
  .wrapper {
    flex-direction: column;
    display: flex;
  }